@model IEnumerable<Quizleter.Models.Vocab>
@{
    ViewData["Title"] = "Karten";
}

<h1>Karten</h1>
<hr />

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        @foreach (var item in Model)
        {
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div></div>
                        <h1 style="padding-top: 40%">@Html.DisplayFor(modelItem => item.Definition)</h1>
                    </div>
                    <div class="flip-card-back">
                        <h1 style="padding-top: 40%">@Html.DisplayFor(modelItem => item.Term)</h1>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
    <div class="col-4"></div>
</div>

