@model IEnumerable<Quizleter.Models.Learnset>

@{
    ViewData["Title"] = "Index";
}

<h1>Learnsets</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/img/logo-full.png" alt="Card image cap">
    <div class="card-body">
        @foreach (var item in Model)
        {
        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Desc)</p>
            <a asp-controller="Learnsets" asp-action="Learn" asp-route-id="@item.Id" class="btn btn-primary w-100">Learn</a>
        }
    </div>
</div>
