@model IEnumerable<Quizleter.Models.Vocab>
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <h1>Learnset</h1>
        <hr />
    </div>
    <div class="row">
        <a style="float: right; width: 20%; margin-right: 2%" class="btn btn-primary" asp-action="Write" asp-route-id="@Model.ToList()[0].Id" asp-controller="Learnsets">
            <i class="fas fa-band-aid"></i>Schreiben
        </a>
        <a style="float:right; width: 20%; margin-right: 2%" class="btn btn-primary" asp-action="Test" asp-route-id="@Model.ToList()[0].Id" asp-controller="Learnsets">
            <i class="fas fa-band-aid"></i>Testen
        </a>
    </div>
    <br />
    <div class="row">
        <div class="col-4"></div>
            <div class="col-4">
                @foreach (var item in Model)
                {
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <div></div>
                                <h1 style="padding-top: 40%">@Html.DisplayFor(modelItem => item.Definition)</h1>
                            </div>
                            <div class="flip-card-back">
                                <h1 style="padding-top: 40%">@Html.DisplayFor(modelItem => item.Term)</h1>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        <div class="col-4"></div>
    </div>

