@model IEnumerable<Quizleter.Models.Vocab>
@{
    ViewData["Title"] = "Test";
}

<h1>Schreiben</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <p>Wähle welches Wörter du lernen möchtest:</p>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <input class="btn" type="radio" name="language" value="Definition">
            <label class="btn" style="margin-left: 2px">Definition</label>
            <input type="radio" class="btn" name="language" value="Begriff">
            <label class="btn" style="margin-left: 2px">Begriff</label>
        </div>
        <div class="col-4"></div>
    </div>
</div>

@if (true)
{

}