@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>
        Du hast eine bevorstehende Voci-Prüfung? Dann ist Quizleter die perfekte Lösung, um das Vokabular schnell
        einzuprägen. <a asp-controller="Learnsets" asp-action="Create">Erstelle</a> entweder selber ein Lernset,
        oder suche nach anderen Lernsets der Community. Mit dem Lernmodus kannst du dein Vokabular schnell steigern.
        Klassisch kannst du auch die Karteikarten verwenden.
    </p>
</div>
